flask
python-dotenv
huggingface_hub
transformers
accelerate
sentencepiece
timm
einops
bitsandbytes
langchain
langchain-community
sentence-transformers
chromadb
pypdf
unstructured
pysqlite3-binary>=0.5.0
langchain-experimental
minio
torch
gunicorn